root = true

[*]
tab_width = 4
indent_size = 4
indent_style = space

# Global (any language) IntelliJ options
ij_any_method_brace_style = next_line_if_wrapped
ij_any_block_brace_style = next_line_if_wrapped
ij_any_class_brace_style = next_line

# Typescript options
[*.ts]
ij_typescript_function_expression_brace_style = next_line_if_wrapped
ij_javascript_prefer_explicit_types_function_expression_returns = true
ij_javascript_prefer_explicit_types_function_returns = true
ij_javascript_prefer_explicit_types_vars_fields = true
ij_typescript_use_public_modifier = true